@use "../utils/" as *;

.index {
    outline: 2px solid grey;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px;
    }

    &__canvas {
        outline: 2px solid red;

        scale: -100% 100%; //we reverse the video horizontally
    }

    &__video {
        outline: 2px solid blue;
    }

}