@use "../utils/" as *;

.index {
    outline: 2px solid grey;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-wrap: wrap;

        padding: 20px;
    }

    &__canvas {
        border-radius: 20px;

        scale: -100% 100%; //we reverse the video horizontally
    }

    &__video {}

}